body {
    background-color: oldlace;
    padding: 25px;
    font-size: 200%;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: oldlace;
    padding: 15px;
    background: black;
    width: fit-content;
    font-family: cursive;
    font-size: 300%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

img {
    border-radius: 8px; 
}


a:hover {
    color: #007bff; 
    text-decoration: underline; 
}